@use "../../../Mixins";
@use "../../../variables";

#avatar-picture {
  max-height: 2.5rem;
  height: 2rem;
  width: 2rem;
  max-width: 2.5rem;
  border-radius: 50%;
  display: none;

  @include Mixins.tablet {
    display: initial;
    width: 40px;
    height: 40px;
  }
}

#avatar-picture-mobile {
  max-height: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  max-width: 2.5rem;
  border-radius: 50%;

  @include Mixins.tablet {
    display: none;
  }
}

.comment-holder {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;

  @include Mixins.tablet {
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
  }

  @include Mixins.desktop {
    width: 50%;
  }

  .search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @include Mixins.tablet {
      justify-content: space-evenly;
      flex-wrap: nowrap;
      width: 100%;
    }

    .avatar {
      padding-left: 0.37rem;

      @include Mixins.desktop {
        padding-left: 1rem;
      }
    }
  }
}
