@use "../../../../../styles/Mixins";
@use "../../../../../styles/variables";

.author-date {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;

  @include Mixins.tablet {
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    align-items: center;
  }

  &__author {
    display: flex;
    flex-shrink: 3;
    margin: 0;
    margin: 0;
    text-align: top;
  }

  &__date {
    color: variables.$brainFLixSilver;
    margin: 0;
  }
}
