@use "../../../../styles/Mixins";
@use "../../../../styles/variables";

.activity-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: inherit;
  border-bottom: 1px solid variables.$brainFlixMercury;
}
