// Primary colors

$brainFlixBlack: #323232;
$brainFlixBlue:#0095FF;
$brainFLixSilver:#AFAFAF;
$brainFlixWhite:#FFFFFF;

// Secondary colors

$brainFlix-DarkBlack:#000000;
$BrainFlix-DarkBlue:#0065AD;
$brainFlixMercury:#E1E1E1;
$brainFlixAlabaster:#FAFAFA;
