@use "../../../../styles/Mixins";
@use "../../../../styles/variables";

.comment-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5rem;
  border-top: 1px solid variables.$brainFlixMercury;
  border-bottom: 1px solid variables.$brainFlixMercury;

  &__avatar-holder {
    background-color: variables.$brainFlixMercury;
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin-top: 6px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  &__comment-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .name-date {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      &__date {
        color: variables.$brainFLixSilver;
      }
    }
  }
}
