@use "../../../../styles/Mixins";
@use "../../../../styles/variables";
.description-comments {
  &__text {
    font-size: 0.81rem;
    line-height: 1.12rem;
  }

  &__comments-amount {
    font-size: 0.81rem;
    line-height: 1.12rem;
    font-weight: bold;
  }
}
