@use "../../../../../styles/Mixins";
@use "../../../../../styles/variables";

.views-likes {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  width: 15%;

  @include Mixins.tablet {
    padding-right: 0.5rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }

  @include Mixins.desktop {
    padding: 0;
  }
}
.views {
  display: flex;
  padding-bottom: 1rem;

  &img {
    height: 1rem;
    width: 1rem;
  }

  @include Mixins.tablet {
    padding: 0;
  }

  &__amount {
    padding-left: 0.5rem;
    align-items: flex-start;
    margin: 0;
    color: variables.$brainFLixSilver;
  }
}
.likes {
  display: flex;

  &img {
    height: 1rem;
    width: 1rem;
  }

  &__amount {
    padding-left: 0.5rem;
    align-items: flex-start;
    margin: 0;
    color: variables.$brainFLixSilver;
  }
}
