@use "../../styles/Mixins";
@use "../../styles/variables";

.main {
  padding: 0 1rem;

  @include Mixins.tablet {
    padding: 0 2rem;
  }
  @include Mixins.desktop {
    padding: 0 88px;
    display: flex;
    justify-content: space-between;
  }
}
