@use "../../styles/Mixins";
@use "../../styles/variables";

#logo-image {
  max-height: 1.56rem;
  max-width: 7.81rem;
}

.site-header {
  background-color: variables.$brainFlixWhite;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include Mixins.tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 8px 1rem;
  }

  @include Mixins.desktop {
    padding: 0 5.5rem;
  }

  .site-logo {
    max-height: 1.56rem;
    max-width: 7.5rem;
    height: 1.56rem;
    width: 7.5rem;
    padding-top: 1rem;

    @include Mixins.tablet {
      padding-top: 1rem;
      padding-left: 1rem;
    }
  }
}
