@use "../../../styles/Mixins";
@use "../../../styles/variables";

#comment-form-textarea {
  // padding: 0.06rem;
  margin-bottom: 1rem;
  min-height: 2.25rem;
  width: 13.5rem;
  height: 6.25rem;
  max-width: 100%;
  font-size: 0.87rem;
  line-height: 1.37rem;
  font-weight: 400;
  display: block;
  flex-direction: row;
  border: 0.06rem solid variables.$brainFlixMercury;
  border-radius: 0.25rem;

  @include Mixins.tablet {
    resize: vertical;
    height: 2.5rem;
    padding-left: 0.25rem;
    width: 93%;
  }

  &::placeholder {
    text-align: start;
    font-family: "AvenirNext LT Pro";
    display: flex;
  }
}
