@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('./Assets/Fonts/AvenirNextLTPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('./Assets/Fonts/AvenirNextLTPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

