@use "../../styles/variables";
@use "../../styles/Mixins";

#search-input {
  background-image: url("../../Assets/Images/Icons/search.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  background-position: 3% 50%;
  background-origin: border-box;
  padding-left: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 2.25rem;
  min-width: 12.7rem;
  max-width: 100%;
  font-size: 0.87rem;
  line-height: 1.37rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  border: 0.06rem solid variables.$brainFlixMercury;
  border-radius: 0.25rem;

  @include Mixins.tablet {
    height: 2.5rem;
    min-width: 15rem;
    width: 15rem;
  }

  @include Mixins.desktop {
    width: 15rem;
  }
}

#comment-input:focus {
  outline: 0.12rem solid variables.$brainFlixBlue;
}

#search-icon {
  position: absolute;
  left: 10%;
}

#avatar-picture {
  max-height: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  max-width: 2.5rem;
  border-radius: 50%;
}
